
  @import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Pacifico&family=Pixelify+Sans&family=Raleway:wght@100&display=swap');
  /* fonte ou fontes importadas*/
  
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Autour+One&family=Pacifico&family=Pixelify+Sans&family=Raleway:wght@100&display=swap');
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.158);
    box-sizing: border-box;
    font-family: 'Pixelify Sans';
  }
  
  .botao-inicial {
    color: rgb(116, 0, 0);
    background-color: rgba(255, 255, 255, 1); /* tornando a cor de fundo totalmente opaca */
    font-size: 16px;
    font-family: 'Raleway';
  }
  
  
..fotoPrincipal {
    border-radius: 50%;
    position: absolute;
    right: 0; /* Inicialmente, a imagem começa à direita */
    top: 0; /* Inicialmente, a imagem começa no topo */
    transform: translateY(-100%); /* Deslocado 100% para cima (fora da tela) */
}

.animacao {
    animation: deslizarEDiminuir 4s ease-in-out forwards; /* 4s é a duração da animação, ease-in-out é a curva de animação e forwards faz com que a animação mantenha o estado final */
}

@keyframes deslizarEDiminuir {
    0% {
        transform: translateY(-100%); /* Posição inicial fora da tela (acima) */
    }
    50% {
        transform: translateY(0) scale(1.2); /* Desliza para o centro e aumenta de tamanho */
    }
    100% {
        transform: translateY(0) scale(1); /* Posição final no centro e tamanho original */
    }
}
