  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap'); /* fonte ou fontes importadas*/
  
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    background-color: rgb(109, 109, 109);
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
  }
  
